<h1><%= @task.name %></h1>
<p>Done: <%= @task.done %></p>
<p><%= link_to "Edit", edit_task_path(@task) %> <%= link_to "Back", tasks_path %></p>
<p><%= link_to "Delete", task_path(@task), method: :delete, data: { confirm: "Are you sure?" } %></p>
